font {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 12px;
}
.text-input
{
    height: 21px;
    width: 110px;
}

.editCustomerTable
{
    margin-top: 10px;
    margin-bottom: 10px;
}

.editCustomerTable td,
.editCustomerTable tr
{
    margin: 0px;
    padding: 2px;
    border-spacing: 0px;
    border-collapse: collapse;
}

h3
{
    display: inline-block;
    margin: 0px;
}

