.reportSummaryTable {
	width: 90%;
    text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 2em;
    border-style: none;
    padding: 0;
    border-spacing: 0;
}

#regularReport tbody td {
    width: 14%;
     font-size: 1.25em;
     background-color: #9D9687;
 }

#regularReport th {
    width: 14%;
    background-color: #FEDC6A;
}

#tefapReport tbody td {
    width: 12%;
    font-size: 1.25em;
    background-color: #9D9687;
}

#tefapReport th {
    width: 12%;
    background-color: #FEDC6A;
}

